

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
   min-height: 80vh;
}

.home .content {
    text-align: center;
    background-image: url("https://c.myholidays.com/blog/blog/content/images/2021/01/Places-To-Visit-In-Italy.jpg");
    height: 700px;
    width:max-content;
    justify-content: center;
    padding: 210px;
    background-size: cover;
}

.home .content h3 {
    font-family:cursive;
    text-align: center;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
}

.home .content p {
    color: aliceblue;
    font-weight: 1000;
    font-size: 20px;
}

.home .content .btn{
    color: #000;
    background-color: rgb(127, 184, 234);
}
